*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 20px 0;
    border-radius: 20px;
}